@import "css/bootstrapCarousel.css"

//Welcome
.card-body_autocategory
	button 
		background-color transparent
		border none
		outline none
		h5
			margin-top 20px
		&:hover, &:active
			h5
				text-decoration underline

//Dashboard
.setting-info
	text-align left
.setting-auto
	max-width 100px
.custom-file-input ~ .custom-file-label::after
	content "Выбрать"
.card-orders
	position relativ
.remove-icon
	top 10px
	right 15px
	position absolute
	color #fff !important
	cursor pointer
	font-size 12px
	line-height 1
	color #000
	border none
	text-shadow 0 1px 0 #fff
.ordersProcess
	margin-left -15px
	margin-right -15px
	display flex
	flex-wrap wrap
	
//Search
.search 
	width 100%
	.btn 
		width 100%
	.row
		margin-left 0
		margin-right 0