//Welcome
.card-body_autocategory
	button 
		background-color transparent
		border none
		outline none
		h5
			margin-top 20px
		&:hover, &:active
			h5
				text-decoration underline

//Dashboard
.setting-info
	text-align left
.setting-auto
	max-width 100px
.custom-file-input ~ .custom-file-label::after
	content "Выбрать"
	
//Search
.search 
	width 100%
	.btn 
		width 100%
	.row
		margin-left 0
		margin-right 0