//Dashboard
.setting-info
	text-align left
.setting-auto
	max-width 100px
.custom-file-input ~ .custom-file-label::after
	content "Выбрать"
	
//Search
.search 
	width 100%
	.btn 
		width 100%
	.row
		margin-left 0
		margin-right 0