@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px;
}body {
  font-family: "Montserrat";
  font-weight: normal;
}
textarea {
  resize: none;
}
.btn {
  font-weight: 300;
}
.btn-success:hover {
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
  text-decoration: none !important;
}
.bg-white {
  padding-top: 32px;
  padding-bottom: 32px;
}
.welcome .bg-white,
.operator .bg-white {
  background-color: rgba(255,255,255,0.1) !important;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  text-decoration: underline;
}
.welcome .navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.welcome .navbar-light .navbar-nav .nav-link:hover,
.welcome .navbar-light .navbar-nav .nav-link:active {
  text-decoration: underline;
  color: #fff;
}
.navbar-light .btn-success {
  margin-right: 30px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-success,
.btn-primary {
  background-color: #2762c3;
  border-color: #2762c3;
  color: #fff !important;
}
.card-body_autocategory button {
  background-color: transparent;
  border: none;
  outline: none;
}
.card-body_autocategory button h5 {
  margin-top: 20px;
}
.card-body_autocategory button:hover h5,
.card-body_autocategory button:active h5 {
  text-decoration: underline;
}
.welcome {
  background-image: url("/img/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
}
.welcome .fullscreen-bg__video {
  position: absolute;
  left: 50%;
  top: 40%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.welcome .container-welcome {
  padding-top: 100px;
  padding-bottom: 180px;
  z-index: 100;
  position: relative;
}
.welcome h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
}
.welcome h3 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}
.search {
  padding: 0 !important;
  font-size: 0;
  border: none !important;
  overflow: hidden;
  height: 70px;
}
.search .col,
.search .col-sm-2 {
  margin-top: -3px;
  padding-left: 0;
  padding-right: 0;
}
.search .col:nth-child(1),
.search .col-sm-2:nth-child(1) {
  border-right: 1px solid #acacac;
}
.search .col:nth-child(2),
.search .col-sm-2:nth-child(2) {
  border-right: 1px solid #acacac;
}
.search .col:nth-child(3),
.search .col-sm-2:nth-child(3) {
  width: 20%;
}
.search .custom-select {
  border: 0 !important;
  height: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.search .btn-success {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.welcome-slider {
  background-color: #ebf3fe;
  padding-top: 70px;
  padding-bottom: 70px;
}
.welcome-slider h1 {
  font-size: 40px;
  color: #000;
  font-weight: normal;
  margin-bottom: 80px;
  text-align: center;
}
.welcome-slider .card-img-wrap {
  border-radius: 6px;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 145px;
  line-height: 145px;
  transition: all 0.3s ease-in-out;
}
.welcome-slider .card-img-wrap img {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}
.welcome-slider .card-img-wrap:hover,
.welcome-slider .card-img-wrap:active {
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}
.welcome-slider .card-img-wrap .card-title {
  font-size: 17px;
  color: #000;
  text-align: center;
}
.welcome-slider .carousel-item.active .card-img-wrap {
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}
.welcome-slider .carousel-control-prev {
  left: -70px;
}
.welcome-slider .carousel-control-next {
  right: -70px;
}
.welcome-counter {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #ebf3fe;
  text-align: center;
}
.welcome-counter h3 {
  line-height: 1;
  font-weight: 900;
  font-size: 70px;
  color: #000;
}
.welcome-counter .text {
  line-height: 1;
  margin-top: 0;
  font-weight: normal;
  font-size: 30px;
  color: #000;
}
.setting-info {
  text-align: left;
}
.setting-auto {
  max-width: 100px;
}
.custom-file-input ~ .custom-file-label::after {
  content: "\412\44B\431\440\430\442\44C";
}
.card-orders {
  position: relativ;
}
.remove-icon {
  top: 10px;
  right: 15px;
  position: absolute;
  color: #fff !important;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  color: #000;
  border: none;
  text-shadow: 0 1px 0 #fff;
}
.ordersProcess {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.search {
  width: 100%;
  box-shadow: 0 0 14px rgba(0,0,0,0.2);
}
.search .btn {
  width: 100%;
}
.search .row {
  margin-left: 0;
  margin-right: 0;
}
.operator {
  padding-bottom: 30px;
  background-image: url("/img/bg-call.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.operator .bg-white {
  background-color: rgba(0,0,0,0.2) !important;
}
.operator .navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.operator .navbar-light .navbar-nav .nav-link:hover,
.operator .navbar-light .navbar-nav .nav-link:active {
  text-decoration: underline;
  color: #fff;
}
.operator .navbar-light .btn-success {
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.operator .btn-success {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ff9000;
  color: #fff;
  border-color: #ff9000;
}
.operator h1 {
  margin-top: 40px;
  text-transform: uppercase;
  color: #fff;
  font-size: 70px;
  font-weight: 900;
}
.operator h3 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #fff;
  font-size: 45px;
  font-weight: 300;
}
.operator-auto {
  padding-top: 40px;
  padding-bottom: 40px;
}
.operator-auto h1 {
  text-align: left !important;
  color: #26a7e9;
  font-size: 54px;
  font-weight: 600;
  line-height: 1.1;
}
.operator-auto .text {
  font-size: 20px;
  color: #000;
  font-weight: 300;
  line-height: 1;
}
.operator-auto .row {
  align-items: center;
}
.operator-auto img {
  margin-bottom: 0;
}
.btn-operator {
  margin-top: 20px;
  border: 2px solid #26a7e9;
  color: #26a7e9;
}
.btn-operator:hover,
.btn-operator:active {
  background-color: #26a7e9;
  color: #fff;
}
.operator-form {
  background-color: #028fa8;
  padding-top: 25px;
  padding-bottom: 25px;
}
.operator-form .wrap {
  display: inline-block;
  max-width: 90%;
}
.operator-form .wrap img {
  display: inline-block;
}
.operator-form h1 {
  font-size: 50px;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 35px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
}
.operator-form h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 300;
  text-align: left;
}
.operator-form .form-wrap {
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
}
.operator-form .form-wrap .form-head {
  background-color: #26a7e9;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  text-align: center;
}
.operator-form .form-wrap .img-feedback {
  display: inline-block;
}
.operator-form .form-wrap .img-triangle {
  width: 20px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -10px;
}
.operator-form .form-wrap .form-body {
  background-color: #fff;
  padding: 35px 60px;
}
.operator-form .form-wrap .btn-operator {
  display: inline-block;
  width: 80%;
}
.who {
  background-image: url("/img/bg-who.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.who .bg-white {
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;
}
.who .navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.who .navbar-light .navbar-nav .nav-link:hover,
.who .navbar-light .navbar-nav .nav-link:active {
  text-decoration: underline;
  color: #fff;
}
.who h1 {
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}
